
body{
  background-color: antiquewhite;
}
h1, div{
  text-align: center;
  margin: 60px;
  font-size: 40px;
}

#num{
  font-size: 100px;
}

button{
  font-size: 20px;
  padding: 10px;
  margin: 6px; 
  border: none;
  border-radius: 8px;
  background-color: black;
  color: antiquewhite;
  margin-top: 40px;
}

button:hover{
  box-shadow: 2px 2px 2px black;
}

button:active{
  background-color: antiquewhite;
  color: black;
}